*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$texto:white;
$fondo:#032656;
$resaltado:rgba(255, 187, 0, 0.932);
.navbar{
    background-color: $fondo;
    font-size: 30px;

        a:hover{
            color: $resaltado;
    }
}
body{
    background-color: $fondo;
}
.jumbotron{
    background-image: url(./MEDIA/YOU_portada.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    color: $fondo;
    padding-left: 50px;
    padding-top: 50px;
        
    .p-home{
    padding-left: 0;
    color: rgb(255, 255, 6);
    font-size: 25px;
    text-shadow: 0 0 50px black;
    }
}
h2{
    color: $texto;
    font-size: 30px;
    text-align: center;
}
.section{
    height:800px;
}
.nleft{
    background-image: url(./MEDIA/YOU_servicios.png);
    height: 800px;
    width: 50%;
    background-position:center;
}

$mapa1: (
    35px:black,
    30px:blue,
    25px:gray,
    20px:white
);
@each $sizes, $colores in $mapa1{
    .maps-#{$colores} {
        background-color: $resaltado;
        border: solid $fondo;
        border-radius: 10%;
        text-shadow: 0 1px $fondo;
        text-decoration-line: $fondo;
        font-size: $sizes;
        color:$colores;
    }
}

.btn-group{
    padding-top: 700px;
    width: 50%;
}
.form-group label{
    color:  $texto;
}
.pie{
    padding-top: 100px;
    text-align: center;
}
footer textarea{
    height: 130px;
    width: 600px;
    font-size: 20PX;
}
.card{
    background-color: $fondo;
    font-size: 30px;
    color: $texto;
}
.nleft-nosotros{
    height: auto;
}
.nright-nosotros{
    font-size: 30px;
    color: $texto;
}
.contacto-nosotros{
    padding-top: 100px;
    width: 50%;
}
.portada-metodo{
    height: 500px;
    background-image: url(./MEDIA/METODO\ .PNG);
    background-size: 100%;
    background-position: center;
}
.metodo-imagen{
    display: block;
    height:50%;
    width: 50%;
    padding-left: 10%;
}
.servicios-portada{
    width: 70%;
    height: 600px;
}
.div-servicios{
    padding-top: 200px;
    padding-left: 15%;
    width: 70%;
    font-size: 20px;

    button{
        width: 150px;
        height: fit-content;
        display: inline-block;
        color: $fondo;
        border-radius: 10%;
        background-color: $resaltado;
}
}
.nright-contacto{
    font-size: 30px;
    color: $texto;
    height: 500px;

    img{
        width: 90%;
        height: 80%;
}
}
.agendar-parrafo{
font-size: 30px;
color: $texto;
position: center;
}
.agendar{
    height: 600px;
}
.agendar img{
    width: 100%;
    height:auto;
}
.agendar-facebook{
    width: 300px;
    height: 60px;
    padding-left: 30%;
}
.facebook-icon{
    width: 200px;
    height: 200px;
    padding-top: 150px;
}
